
# Partition Table
#
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000
CONFIG_PARTITION_TABLE_MD5=y
# end of Partition Table

#
# ESP Speech Recognition
#
CONFIG_MODEL_IN_FLASH=y
CONFIG_AFE_INTERFACE_V1=y
CONFIG_SR_WN_WN9_HILEXIN=y
CONFIG_SR_MN_CN_MULTINET7_QUANT=y
CONFIG_SR_MN_EN_NONE=y
# end of ESP Speech Recognition

#
# ESP PSRAM
#
CONFIG_SPIRAM=y

#
# GMF AI Audio
#
CONFIG_GMF_AI_AUDIO_INIT_AEC=y
CONFIG_GMF_AI_AUDIO_INIT_AFE=y
CONFIG_GMF_AI_AUDIO_INIT_WN=y

CONFIG_GMF_AI_AUDIO_AFE_VAD_ENABLE=y
CONFIG_GMF_AI_AUDIO_AFE_AEC_ENABLE=y
CONFIG_GMF_AI_AUDIO_WAKEUP_ENABLE=y
CONFIG_GMF_AI_AUDIO_VOICE_COMMAND_ENABLE=y
CONFIG_GMF_AI_AUDIO_AEC_CH_ALLOCATION="RMNN"
CONFIG_GMF_AI_AUDIO_WN_CH_ALLOCATION="RMNN"
CONFIG_GMF_AI_AUDIO_AFE_CH_ALLOCATION="RMNN"

# end of GMF AI Audio
